
.ipynb_checkpoints/1a. Introduction. Square Well (Clear Variables)-checkpoint.ipynb

.ipynb_checkpoints/2a. Solving for eigenvalues and eigenvectors (Clear Variables)-checkpoint.ipynb

.ipynb_checkpoints/3a. A larger change in potential.ipynb (Clear Variables)-checkpoint.ipynb

.ipynb_checkpoints/4a. An odd perturbation.ipynb (Clear Variables)-checkpoint.ipynb


.ipynb_checkpoints/5a. The Variational Method.ipynb (Clear Variables)-checkpoint.ipynb


.ipynb_checkpoints/6a. A different basis set.ipynb (Clear Variables)-checkpoint.ipynb


.ipynb_checkpoints/3. A larger change in potential-checkpoint.ipynb

.ipynb_checkpoints/3a. A larger change in potential (Clear Variables)-checkpoint.ipynb

.ipynb_checkpoints/4a. An odd perturbation (Clear Variables)-checkpoint.ipynb

.ipynb_checkpoints/5a. The Variational Method (Clear Variables)-checkpoint.ipynb

.ipynb_checkpoints/6a. A different basis set (Clear Variables)-checkpoint.ipynb
